.container {
    background-color: teal;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: space-between;
}
.flex-item, .flex-item-align-self {
    background-color: hotpink;
    height: 30px;
    width: 30px;
}
.flex-item-align-self {
    align-self: flex-end;
    background-color: yellowgreen;

}